<div class="jumbotron">
  <h1 class="display-4">Bikini Bottom Driving School</h1>
  <h3 class="lead">Learning to drive? Schedule a test with one of our top-notch instructors today!</h3>
  <%= button_to "Students", students_path, {class: 'btn btn-danger', method: 'get'}%>
  <%= button_to "Instructors", instructors_path, class: 'btn btn-primary', method: 'get' %>
  <%= button_to "Schedule Test", new_boating_test_path, class: 'btn btn-success', method: 'get' %>
</div>
<br><br>

<img src="https://media.giphy.com/media/l4FAZuT55G1CC2KLm/giphy.gif" alt="spongebog-driving">
