<h1>Bikini Bottom Driving School</h1>
<h3>Learning to drive? Schedule a test with one of our top-notch instructors today!</h3>
<%= button_to "Students", students_path, method: 'get' %>
<%= button_to "Instructors", instructors_path, method: 'get' %>
<%= button_to "Schedule Test", new_boating_test_path, method: 'get' %>
<br><br>

<img src="https://media.giphy.com/media/l4FAZuT55G1CC2KLm/giphy.gif" alt="spongebog-driving">
